.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
       width: auto;
        height: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      
      .logo {
        
        width: auto;
        height: 100px;
        /* border-radius: 50%; */
      }

      .brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 15px;

      button {
        background: none;
        border: none;
        cursor: pointer;

        mat-icon {
          font-size: 24px;
        }

        &:hover {
          color: black;
        }
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      mat-icon {
        font-size: 24px;
      }

      &:hover {
        color: #007bff;
      }
    }
  }

  .header-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      font-size: 1rem;
      font-weight: bold;
      color: #666;
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      border-radius: 4px;
      transition: all 0.3s ease;

      &:hover {
        background-color: black;
        color:white;
      }
    }
  }
}
