<div class="route-display" style="margin-bottom: 10px;">
  <p>
     <a [routerLink]="'/home'" class="home-link" style="cursor: pointer;">
       Home/ 
    </a>
  </p>
  
  
</div>
<div class="main-container">
    <div class="newarrivals">
      <div
        class="arrivalcard"
        *ngFor="let product of filteredData; let i = index"
        (click)="selectCard(i)"
      >
      <div class="card-image" (mouseenter)="onHover(i, product.imageUrl)" (mouseleave)="onLeave(i)">
        <div *ngIf="product.imageUrl?.length > 1" class="carousel">
          <!-- Image Display -->
          <img
            [src]="url + product.imageUrl[currentIndexes[i]]"
            class="product-image"
            alt="Product image"
          />
        </div>
      
        <!-- Single Image Display -->
        <div *ngIf="!product.imageUrl || product.imageUrl.length === 1">
          <img
            [src]="url + (product.imageUrl?.[0] || product.imageUrl)"
            class="product-image"
            alt="Product image"
          />
        </div>
      </div>
  
        <!-- Card Details -->
        <div class="card-details">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p class="price">{{ product.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
  