/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0;  }

body {
      font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Set a default font size */
    color: #333; /* Optional: Set a global text color */
    line-height: 1;
    font-weight: 600;
  }
  .share-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: grey;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    transition: background 0.3s ease-in-out;
  }
