<div class="layout">
  <div class="mokshe">
    <div class="image-container">
     
    </div>
    <div class="logo-container">
     <div class="container">
      <div class="image image1"></div>
      <div class="image image2"></div>
      <div class="image image3"></div>
      <div class="image image4"></div>
    
    </div>
      <div class="btn">
        <button class="btn1" (click)="cutomize()">Explore</button>
      </div>
     
    </div>
  </div>
  <div class="samepinch">
    <div class="image-container1">
      
    </div>
    <div class="logo-container1">
      <div class="container1">
        <div class="image1 image5"></div>
        <div class="image1 image6"></div>
        <div class="image1 image7"></div>
        <div class="image1 image8"></div>
      </div>
      <div class="btn">
        <button class="btn1">Explore</button>
      </div>
    </div>
  </div>
</div>
