<div class="main">
  <div class="sec">
    <div class="sec1">
      <h1 class="title">MIYA</h1>
      <p>Get Customized Costumes Tailored Just for You</p>
      <div class="btn">
        <button class="btn1" (click)="cutomize()">Explore More</button>
      </div>
    </div>
    <div class="sec2">
      <h1 class="title">SAME PINCH</h1>
      <p>Discover Ready-Made Apparel That Fits Your Style</p>
      <div class="btn">
        <button class="btn1">Shop Now</button>
      </div>
    </div>
  </div>
</div>

