<div class="main-container">
  <div class="newarrivals">
   
    <div
      class="arrivalcard"
      *ngFor="let product of filteredData; let i = index"
      (click)="selectCard(i)"
    >
      <!-- Card Image -->
      <div class="card-image">
        <img src="/assets/images/bg3.png" alt="" />

      </div>
  
      <!-- Card Details (Placed below the image) -->
      <div class="card-details">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">{{ product.price | currency }}</p>
      </div>
    </div>
  </div>
  
