<div class="main-container">
  <div class="newarrivals">
    <div
      class="arrivalcard"
      *ngFor="let product of filteredData; let i = index"
      (click)="selectCard(i)"
    >
      <div class="card-image">
        <!-- Image Carousel -->
        <div *ngIf="product.images?.length > 1" class="carousel">
          <img
            [src]="url + product.images[currentIndexes[i]]"
            class="product-image"
            alt="Product image"
          />
          <button
            class="prev-btn"
            (click)="previousImage(i, product.images); $event.stopPropagation()"
          >
            &#10094;
          </button>
          <button
            class="next-btn"
            (click)="nextImage(i, product.images); $event.stopPropagation()"
          >
            &#10095;
          </button>
        </div>

        <!-- Single Image -->
        <div *ngIf="!product.images || product.images.length === 1">
          <img
            [src]="url + (product.images?.[0] || '/path/to/default/image.jpg')"
            class="product-image"
            alt="Product image"
          />
        </div>
      </div>

      <!-- Card Details -->
      <div class="card-details">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">{{ product.price | currency }}</p>
      </div>
    </div>
  </div>
</div>
