<div class="category-container">
    <div class="category-items">
        <div class="category-item">
            <div class="category-image saree" (click)="saree()"></div>
            <div class="category-name">Sarees</div>
        </div>
        <div class="category-item">
            <div class="category-image kurthi"></div>
            <div class="category-name">Kurthi Tops</div>
        </div>
        <div class="category-item">
            <div class="category-image lehenga"></div>
            <div class="category-name">Lehenga</div>
        </div>
        <div class="category-item">
            <div class="category-image kurtha-sets"></div>
            <div class="category-name">Kurtha Sets</div>
        </div>
    </div>
    <div class="image-container">
        <div class="main-image"></div>
    </div>
    <div class="newarrivals">
        <h1>New Arrivals</h1>
        <div class="cards-container">
          <!-- Card 1 -->
          <div class="arrivalcard-wrapper">
            <div class="arrivalcard">
              <div class="card-image"></div>
            </div>
            <div class="card-details">
              <h2>Product Name</h2>
              <p>Description of the product goes here.</p>
              <p class="price">$49.99</p>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="arrivalcard-wrapper">
            <div class="arrivalcard">
              <div class="card-image"></div>
            </div>
            <div class="card-details">
              <h2>Product Name</h2>
              <p>Description of the product goes here.</p>
              <p class="price">$49.99</p>
            </div>
          </div>
          <div class="arrivalcard-wrapper">
            <div class="arrivalcard">
              <div class="card-image"></div>
            </div>
            <div class="card-details">
              <h2>Product Name</h2>
              <p>Description of the product goes here.</p>
              <p class="price">$49.99</p>
            </div>
          </div>
          <div class="arrivalcard-wrapper">
            <div class="arrivalcard">
              <div class="card-image"></div>
            </div>
            <div class="card-details">
              <h2>Product Name</h2>
              <p>Description of the product goes here.</p>
              <p class="price">$49.99</p>
            </div>
          </div>
          
        
          <!-- Repeat as needed -->
        </div>
      </div>
      
    <div class="btn">
        <button mat-button >View More</button>
    </div>
    
    
    
</div>
