<div class="order-list">
    <header class="order-list-header">
      <h1>Your Orders</h1>
    </header>
  
    <section *ngIf="ordersWithDates.length > 0; else noOrders">
      <div *ngFor="let order of ordersWithDates" class="order-card">
        <div class="order-card-header">
          <h3>Order ID:{{order.razorpayOrderId}} </h3>
          <span class="order-status {{ order.status  }}"></span>
        </div>
        <div class="order-card-body">
          <p><strong>Order Date:{{order.jsDate}}</strong> </p>
          <p><strong>Total Amount:</strong> {{ order.totalAmount  }}</p>
        </div>
        <div class="order-card-footer">
          <button (click)="viewOrder(order.id)" class="btn btn-view">View</button>
          <button  class="btn btn-edit">Edit</button>
          <button  class="btn btn-delete">Delete</button>
        </div>
      </div>
    </section>
  
    <ng-template #noOrders>
      <p class="no-orders">You have no orders yet.</p>
    </ng-template>
  </div>
  