<footer class="footer">
  <!-- Customer Service Row -->
  <div class="footer-customer-service">
    <ul class="customer-service-links">
      <li  [routerLink]="'/terms'">Terms and Conditions</li>
      <li  [routerLink]="'/policy'">Privacy Policy</li>
      <li  [routerLink]="'/return'">Return and Exchange Policy</li>
      <li  [routerLink]="'/aboutus'">About Us</li>
      <!-- <li><a href="/contact-us">Contact Us</a></li> -->
    </ul>
  </div>

  <!-- Social Media Icons Row -->
  <div class="footer-social-media">
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
  </div>
</footer>
