<div>
    <div class="header">
      <h1>Terms and Conditions</h1>
    </div>
    <div class="content">
      <h2>Introduction</h2>
      <p>
        Welcome to BoutiqueApp! These Terms and Conditions outline the rules and regulations for the use of our app and services. By using this app, you agree to these terms in full. If you do not accept any part of these terms, please refrain from using our services.
      </p>

      <h2>User Responsibilities</h2>
      <p>As a user of BoutiqueApp, you agree to:</p>
      <ul>
        <li>Provide accurate and up-to-date information during registration.</li>
        <li>Maintain the security of your login credentials and notify us of any unauthorized access.</li>
        <li>Comply with all applicable laws and regulations when using the app.</li>
      </ul>

      <h2>Purchases and Payments</h2>
      <p>
        All purchases made through BoutiqueApp are subject to our pricing and payment terms. We use secure payment gateways to process transactions. Ensure that your payment details are valid and up-to-date.
      </p>

      <h2>Returns and Refunds</h2>
      <p>
        Items purchased from BoutiqueApp can be returned or refunded under specific conditions. Refunds will only be processed if requested within 7 days of delivery, and items must be in their original condition. For further details, contact customer support.
      </p>

      <h2>Intellectual Property</h2>
      <p>
        All content on this app, including images, logos, and text, is the intellectual property of BoutiqueApp or its licensors. Unauthorized reproduction, distribution, or modification is prohibited.
      </p>

      <h2>Limitation of Liability</h2>
      <p>
        BoutiqueApp shall not be held liable for any indirect, incidental, or consequential damages arising from the use of our services. Use the app at your own risk.
      </p>

      <h2>Changes to Terms</h2>
      <p>
        We reserve the right to amend these Terms and Conditions at any time. Users will be notified of significant changes. Continued use of the app constitutes your agreement to the updated terms.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions about these Terms and Conditions, please reach out to us at <a href="mailto:support@boutiqueapp.com"></a>.
      </p>
    </div>
   
  </div>
