.terms-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.terms-container h2, .terms-container h3 {
  color: black;
}

.terms-container p {
  color: #555;
}

.terms-container ul {
  padding-left: 20px;
}

.terms-container ul li {
  margin-bottom: 10px;
}

.terms-container a {
  color: #007BFF;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}
.term{
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
color: aliceblue;
  background: linear-gradient(135deg, #151515 20%, #4A4A4A 40%, #FFD700 80%);
}
.term h2{
  color: white !important;
}